html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
 	font-size: 1.6rem;
 	line-height: 2;
}

/**---------GLOBAL ATRIBUTES-------------**/

.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 95%;
}

h1, h2, h3, h4 {
	font-family: 'PT Sans', sans-serif;
}

h1 {
	font-size: 4.8rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2.4rem;
}

img {
	max-width: 100%;
}

/**-------------UTILITIES------------**/

.center-text {
	text-align: center;
}

.no-margin {
	margin: 0;
}


/**-----GRID-----**/

@media (min-width: 768px) {
	.grid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.center-column {
		justify-content: center;
	}

	.columns-4 {
		flex: 0 0 calc(33.3% - 1rem);
	}

	.columns-6 {
		flex: 0 0 calc(50% - 1rem);
	}

	.columns-8 {
		flex: 0 0 calc(66.6% - 1rem);
	}

	.columns-10 {
		flex: 0 0 calc(83.3% - 1rem);
	}

	.columns-12 {
		flex: 0 0 100%;
	}
}


/** -----BUTTONS-----**/

.btn {
	border: none;
	color: #fff;
	display: block;
	font-family: 'PT Sans', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	margin: 2rem 0;
	padding: 1rem 3rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.btn {
		display: inline;
	}
}

.main-btn {
	background-color: #000;
}

.secondary-btn {
	background-color: #784d3c;
}


/**----------HEADER--------------**/


@media (min-width: 768px) {
	.nav-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.site-container {
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: #fff;
	height: 60rem;

}



.site-container a {
	color: #fff;
	text-decoration: none;
}

.site-container h1 {
	font-weight: 400;
}

.site-container h1 span {
	font-weight: 700;
}


/**----NAV BAR-----**/

.nav-bar a {
	display: block;
	font-size: 1.8rem;
	color: #fff;
	text-decoration: none;
}

@media (min-width: 768px) {
	.nav-bar a {
		display: inline;
		margin-right: 2.5rem
	}

	.nav-bar a:last-of-type {
		margin-right: 0;
	}
}

/**-----TEXT HEADER-----**/

.text-header {
	margin-top: 5rem;
}

@media (min-width: 768px) {
	.text-header {
		margin-top: 15rem;
	}
}

.text-header p {
	font-size: 1.8rem;
	letter-spacing: 0.2rem;
	margin-top: 2rem;
}

/**-----------MAIN CONTENT----------**/


.main-content {
	display: flex;
	flex-wrap: wrap;
 }

.blog,
.courses {
	flex: 0 0 100%;
}

.blog {
	order: 2;
}

@media (min-width: 768px) {
	.main-content {
		justify-content: space-between;
	}

	.blog {
		flex-basis:  66.6%;
		order: -1;
	}

	.courses {
		flex-basis: calc(33.3% - 4rem);
	}
}

/**----BLOG CONTENT------------**/

.blog-content {
	margin-bottom: 3rem;
	border-bottom: 1px solid #1e1e1e;
}

.blog-content:last-of-type {
	border-bottom: none;
}

.text-content {
	padding-bottom: 3rem;
}

/**-----ASIDE CONTENT-----**/

.courses h2 {
	line-height: 1.2;
}

.aside-content {
	list-style: none;
	padding: 0;
}

.course {
	border-bottom: 1px solid #1e1e1e;
	padding-top: 3rem;
	padding-bottom: 2rem;
}

.course p{
	font-family: 'PT Sans', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
}

.course span,
.course p.description {
	font-weight: 400;
}

.course h4 {
	padding-bottom: 2rem;
}

/**-----FOOTER**/

.footer {
	background-color: #000;
	color: #fff;
	padding: 1.8rem 0;
	margin-top: 5rem;
	text-align: center;
}


.footer p {
	font-family: 'PT Sans', sans-serif;
	font-size: 5rem;
	font-weight: 700;
}

.footer p span {
	font-weight: 400;
}


/**-----CONTACT US-----**/
.form-contact {
	background-color: #fff;
	padding: 5rem;
}


@media (min-width: 768px) {
	.form-contact {
		margin-top: -10rem;
	}
}

.form-contact .input {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.form-contact .input label {
	flex: 0 0 8rem;
}

.form-contact .input input:not([type="submit"]),
.form-contact textarea {
	flex: 1;
	border: 1px solid #e1e1e1;
	padding: 1rem;
}

.form-contact textarea {
	height: 20rem;
}

.form-contact .send {
	display: flex;
	justify-content: flex-end;

}

